.infoBox {
  flex: 1;
  border-top: 10px solid gray;
  cursor: pointer;
  border-radius: 50%;
}

.infoBox_title {
  font-size: 100px;
}

.infoBox:not(:last-child) {
  margin-right: 15px;
}

.infoBox--selected {
  border-top: 10px solid greenyellow;
}
